<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Goodboo.ru &mdash; Ваш персональный помощник в подборе автомобиля</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />
    <meta name="yandex-verification" content="c5f1f60d29230b62" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/web/images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/web/css/animate.css ">
    <link rel="stylesheet" href="/web/css/loader.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/web/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/web/css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/web/css/bootstrap.css">
    <!-- Style -->
    <link rel="stylesheet" href="/web/css/style.css">


    <!-- Modernizr JS -->
    <script src="/web/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/web/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

{% block content %}

{% endblock %}

<div id="fh5co-footer" role="contentinfo" data-section="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 animate-box">
                <!--<h3 class="section-title">Solid.</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                -->

            </div>

            <div class="col-md-4 animate-box">
                <h3 class="section-title">Контакты</h3>
                <ul class="contact-info">
                    <li><i class="icon-map"></i>г. Москва, Головинское шоссе д.5А, БЦ Водный</li>
                    <li><i class="icon-phone"></i>+ 7-(915)-481-24-42</li>
                    <li><i class="icon-envelope"></i><a href="mailto:client@goodboo.ru">client@goodboo.ru</a></li>
                    <li><i class="icon-globe"></i><a href="https://goodboo.ru">www.goodboo.ru</a></li>
                </ul>
                {#                <h3 class="section-title">Мы онлайн</h3>
                                <ul class="social-media">
                                    <li><a href="#" class="github"><i class="icon-instagram"></i></a></li>
                                    <li><a href="#" class="github"><i class="icon-facebook"></i></a></li>
                                </ul>#}
            </div>
            <div class="col-md-4 animate-box">
                <h3 class="section-title">Задать вопрос</h3>
                <form class="contact-form" id="contact-form">
                    <div class="form-group">
                        <label for="name" class="sr-only">Имя</label>
                        <input type="name" required class="form-control" name="name" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" required class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="message" class="sr-only">Текст сообщения</label>
                        <textarea class="form-control" required name="message" rows="7" placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Отправить">
                    </div>
                </form>
                <div id="circularG" class="hidden">
                    <div id="circularG_1" class="circularG"></div>
                    <div id="circularG_2" class="circularG"></div>
                    <div id="circularG_3" class="circularG"></div>
                    <div id="circularG_4" class="circularG"></div>
                    <div id="circularG_5" class="circularG"></div>
                    <div id="circularG_6" class="circularG"></div>
                    <div id="circularG_7" class="circularG"></div>
                    <div id="circularG_8" class="circularG"></div>
                </div>
                <div class="contact-form-done" style="display: none">
                    <p> Спасибо, ваше сообщение отправлено. </p>
                    <p> В ближайшее время мы предоставим обратную связь. </p>
                </div>
                <div class="contact-form-fail" style="display: none">
                    <p> Отправка сообщения временно невозможна. </p>
                    <p> Пожалуйста, попробуйте позднее. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copy-right">&copy; 2016-2017 ООО ГУДБУ. Все права защищены. <a href="/index.php/privacy">Политика конфиденциальности</a><br>
                    Designed by <a href="https://design.goodboo.ru/" target="_blank">Goodboo Design</a>
                </p>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="/web/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/web/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/web/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/web/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="/web/js/jquery.stellar.min.js"></script>
<!-- Counters -->
<script src="/web/js/jquery.countTo.js"></script>
<!-- Main JS (Do not remove) -->
<script src="/web/js/main.js"></script>

<script>
    $("#contact-form").submit(function (e) {
        e.preventDefault();
        var $form = $(this);

        $form.hide({
            duration: 1000,
            easing: 'easeOutBack'
        });
        $("#circularG").removeClass("hidden");

        $.ajax({
            url: "index.php/message",
            method: "POST",
            data: $form.serialize()
        })
            .always(function () {
                $("#circularG").addClass("hidden");
            })
            .done(function () {
                $(".contact-form-done").show();
            })
            .fail(function () {
                $(".contact-form-fail").show();
            });
    });

    $("#application-form").submit(function (e) {
        e.preventDefault();
        var $form = $(this);

        $form.hide({
            duration: 1000,
            easing: 'easeOutBack'
        });
        $("#application-circularG").removeClass("hidden");

        $.ajax({
            url: "index.php/application",
            method: "POST",
            data: $form.serialize()
        })
            .always(function () {
                $("#application-circularG").addClass("hidden");
            })
            .done(function () {
                $(".application-form-done").show();
            })
            .fail(function () {
                $(".application-form-fail").show();
            });
    });
</script>

</body>
</html>